*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: rgb(249, 243, 235);
}

.label_font {
  font-family: "IBM Plex Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.content_font{
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.header{
    background-color: #5bd5eb;
    /* padding-top: 15%;
    display: flex;
    flex-direction: column;
    align-items: center; */
    /* padding-top: 15%; */
    height: 100vh; /* 100% of viewport height */
    width: 100vw;
}

#name{
    /* background-color: bisque; */
    padding-top: 35dvh;
    font-size: 7dvh;
    margin-bottom: 10dvh;
    text-align: center;
}

.btns{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3%;
    gap: 10%;
    /* background-color: blueviolet; */
}

#about, #projects, #contact{
    width: 20vw;
    height: 10vh;
    padding: 2%;
    font-size: 2.7dvh;
    background-color: white;
}



#about_section{
    /* background-color: rgb(153, 153, 234); */
    display: flex;
    flex-direction: column;
    gap:3vh;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    height: auto;
    margin: 5%;
    margin-top: 20%;
    margin-bottom: 20%;
}

.label{
    font-size: 5vw;
}

#bio{
     /* background-color: bisque; */
   /* position: absolute;
    width: 70vw;
    height: 32vh; 
    padding: 5%;
    top:8vw;
    margin-left: 23%; */
    /* text formatting below */
    font-size: 2vw;
    text-align: center;
}

#lower_rectangle{
     /* background-color: blueviolet; */
    /*position: absolute;
    width: 20vw;
    height: 4vh;
    max-width: 20vw;
    max-height: auto;
    margin-left: 2%;
    margin-top:22%;
    /* text formatting */
    font-size: 2vw;
}

#picture-frame{
    /* background-color: rgb(159, 78, 78);
    position: absolute;
    align-self: flex-start;
    justify-self: flex-start;
    width: 20vw;
    height: 20vh;
    margin-left: 2%;
    margin-top: 9%;
    border-radius: 50%; */
}

#picture-frame {
    max-width: 35vw;
    height: auto;
    border-radius: 50%;
    border:5px solid black ;
}

/* PROJECTS */

#projects_section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:3vh;
    margin-top: 20%;
    margin-bottom: 20%;
}

.project_container{
    width:70vw;
    height: 24vh;
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;  
    background-clip: padding-box;
}

.project_content{
    padding: 2vh;
    color:white;
    background-color: rgba(0, 0, 0, 0.45) ;
}

#projects_subtitle{
    font-size: 4vh;
}

.project_title{
    background-color: rgba(0, 0, 0, 0.45) ;
    color: white;
    padding: 2vh;
}

#achievement_unlocked{
    background-image: url("landingAU.jpeg");
}

#sokoban{
    background-image: url(sokoban.jpg);
}

#TP_database{
    background-image: url(theme-park-ride.jpg);
}

.gitlink{
    color:white;
}

/* CONTACT */
#contact_section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:3vh;
    margin: 30px;
    margin-bottom: 20%;
}

.contact_text{
    font-size: 2vw;
    margin:1vh;
}
