*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.header{
    background-color: #7fffd4;
    padding: 20dvh;
}

#name{
    background-color: bisque;
    margin-top: 3%;
    font-size: 5dvh;
    margin-bottom: 8%;
    text-align: center;
}

.btns{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    padding: 3%;
    background-color: blueviolet;
}

#about, #projects, #contact{
    padding: 2%;
    font-size: 3dvh;
}

.about_class{
    position: relative;
    background-color: rgb(153, 153, 234);
}

#lower_rectangle{
    background-color: blueviolet;
    position: absolute;
    z-index: 2;
    width: 24vw;
    height: 4vh;
}


#bio{
    background-color: bisque;
    position: absolute;
    width: 70vw;
    height: 25vh; 
    padding-left: 30%;
    top:8vw;
    margin-left: 20%;
    z-index: 1;
}

#picture-frame{
    background-color: rgb(159, 78, 78);
    position: absolute;

    width: 20vw;
    height: 20vh;
    margin-left: 18%;
    margin-top: 5%;
    z-index: 2;
    border-radius: 10%;
}


